In [1]:
import re
import pandas as pd


cars = pd.read_csv("car_price.xls")
cars["doornumber"] = cars["doornumber"].replace({"two": 2, "four": 4})
cars["car_company"] = cars["CarName"].apply(
    lambda x: re.findall(re.compile(r"\w+-?\w+"), x)[0]
)
# volkswagen
cars.loc[
    (cars["car_company"] == "vw") | (cars["car_company"] == "vokswagen"), "car_company"
] = "volkswagen"

# porsche
cars.loc[cars["car_company"] == "porcshce", "car_company"] = "porsche"

# toyota
cars.loc[cars["car_company"] == "toyouta", "car_company"] = "toyota"

# nissan
cars.loc[cars["car_company"] == "Nissan", "car_company"] = "nissan"

# mazda
cars.loc[cars["car_company"] == "maxda", "car_company"] = "mazda"
cars = cars.drop("enginetype", axis=1)
# cars = cars.select_dtypes(exclude=["object"])
cars.drop(["car_ID", "fuelsystem"], axis=1, inplace=True)
cars["symboling"] = cars["symboling"].astype(str)
cars = pd.get_dummies(
    cars,
    columns=cars.select_dtypes(include=["object"]).columns,
    drop_first=True,
    dtype=int,
)
cars["price_thousands_USD"] = cars["price"] / 1000
cars.drop(["price"], axis=1, inplace=True)
cars["price_thousands_USD"]
cars.to_csv("car_price.csv", index=False)
cars

/var/folders/ds/qgc7ldz113jb3ym8xw9kxxmh0000gn/T/ipykernel_9294/3620329386.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars["doornumber"] = cars["doornumber"].replace({"two": 2, "four": 4})

,doornumber,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,...,car_company_peugeot,car_company_plymouth,car_company_porsche,car_company_renault,car_company_saab,car_company_subaru,car_company_toyota,car_company_volkswagen,car_company_volvo,price_thousands_USD
0,2,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,...,0,0,0,0,0,0,0,0,0,13.495
1,2,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,...,0,0,0,0,0,0,0,0,0,16.500
2,2,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,...,0,0,0,0,0,0,0,0,0,16.500
3,4,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,...,0,0,0,0,0,0,0,0,0,13.950
4,4,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,...,0,0,0,0,0,0,0,0,0,17.450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,4,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,...,0,0,0,0,0,0,0,0,1,16.845
201,4,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,...,0,0,0,0,0,0,0,0,1,19.045
202,4,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,...,0,0,0,0,0,0,0,0,1,21.485
203,4,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,...,0,0,0,0,0,0,0,0,1,22.470
204,4,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,...,0,0,0,0,0,0,0,0,1,22.625

array([2, 4])